<div class="container">
  <h1>Lost Pets</h1>
  <div class="cards">
    <% @pets.each do |pet| %>
      <div class="card-product">
        <%= image_tag "http://source.unsplash.com/featured/?#{pet.species}>&#{rand(1000)}" %>
        <div class="card-product-infos">
          <h2><%= link_to pet.name, pet_path(pet), class: 'text-decoration-none text-dark' %></h2>
          <p><%= pet.address %></p>
          <p>Found <%= pluralize(pet.found_days_ago, 'day') %> ago</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
